<div class="main">
  <div
    class="banner"
    (scroll)="onscroll()"
    [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
  >
    IDEMO
  </div>

  <div>
    <div class="cards">
      <!-- <div class="slide">
        <img
          src="../../../assets/New-Blockchain-Network-TNC-Mainnet-Promises-To-Hit-300000-Transactions-Per-Second.jpeg"
          alt=""
        />
        <h2>Card title</h2>
        <p>
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button (click)="onClick()" class="btn btn-primary">click me</button>
      </div>
      <div class="slide">
        <img
          src="../../../assets/New-Blockchain-Network-TNC-Mainnet-Promises-To-Hit-300000-Transactions-Per-Second.jpeg"
          alt=""
        />
        <h2>Card title</h2>
        <p>
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button (click)="onClick()" class="btn btn-primary">click me</button>
      </div> -->

     

      
       <a href="#" (click)="onSelected()">       
         <div class="slide"
       *ngFor="let card of cards ; $event">
       <img src="{{card.imagePath}}" alt="">
       <h2>{{ card.title }}</h2>
       <p> {{ card.description}}</p>
       <button (click)="onClick(card)" class="btn btn-primary">click me</button>
       
      </div>
    </a>

    </div>
  </div>

  <div
    class="banner"
    (scroll)="onscroll()"
    [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
  >
    IDEMO
  </div>
</div>
<div [ngClass]="windowfixed ? 'window' : 'windowup'">
  <app-info 
  [message]="message"
  [cards]="cards"
  [selectedCard]="selectedCard"
  ></app-info>


  ZAVESA !!!
</div>
