
<div class="wrapper">
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>

    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/3ccd70a10862d341e1f6bd24035977aad9e2220f22680d2a36160a62_SwinIR.png" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    <div class="img-container"><img src="./assets/dummy/couture1.jpeg" alt=""></div>
    

</div>

<div class="yellow"></div>
<div class="green"></div>

<div class="yellow"></div>
<div class="green"></div>