* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 64px;
  position: relative;
  margin: 0;
  border: 1px solid red;
  background-color: darkblue;
  :nth-child(1) {
    top: 6%;
    left: 1.5rem;
    height: 31%;
    width: 15%;
  }
  :nth-child(2) {
    top: 0.5%;
    left: 29%;
    height: 56%;
    width: 36%;
  }
  :nth-child(3) {
    top: 1%;
    left: 67%;
    height: 40%;
    width: 31%;
  }
  :nth-child(4) {
    top: 43%;
    left: 1.5rem;
    height: 34%;
    width: 25%;
  }
  :nth-child(5) {
    top: 59%;
    left: 37%;
    height: 36%;
    width: 21%;
  }
  :nth-child(6) {
    top: 44%;
    left: 72%;
    height: 33%;
    width: 27%;
  }
  :nth-child(7) {
    top: 86%;
    left: 1.5rem;
    height: 52%;
    width: 33%;
  }
  :nth-child(8) {
    top: 101.5%;
    left: 37%;
    height: 36%;
    width: 21%;
  }
  :nth-child(9) {
    top: 82%;
    left: 60%;
    height: 33%;
    width: 27%;
  }

  :nth-child(10) {
    top: 146%;
    left: 17%;
    height: 26%;
    width: 15%;
  }

  :nth-child(11) {
    top: 153%;
    left: 35%;
    height: 33%;
    width: 40%;
  }
  :nth-child(12) {
    top: 122.5%;
    left: 60%;
    height: 26%;
    width: 15%;
  }
  :nth-child(13) {
    top: 122.5%;
    left: 76%;
    height: 50%;
    width: 23%;
  }
  :nth-child(14) {
        top: 175%;
    left: 1.5rem;
    height: 33%;
    width: 26%;
  }
  :nth-child(15) {
    top: 190%;
    left: 35%;
    height: 26%;
    width: 15%;
  }
  :nth-child(16) {
    top: 193%;
    left: 53%;
    height: 33%;
    width: 27%;
  }
  :nth-child(17) {
    top: 179%;
    left: 83%;
    height: 29%;
    width: 16%;
  }
  :nth-child(18) {
    top: 2500px;
    left: 0;
    height: 331px;
    width: 592px;
  }
  :nth-child(19) {
    top: 2600px;
    left: 550px;

    height: 499px;
    width: 573px;
  }

  :nth-child(20) {
    top: 2600px;
    left: 1400px;
    height: 269px;
    width: 287px;
  }
  :nth-child(21) {
    top: 3100px;
    left: 200px;
    height: 303px;
    width: 287px;
  }

  :nth-child(22) {
    top: 3200px;
    left: 550px;
    height: 560px;
    width: 640px;
  }

  > .img-container {
    position: absolute;

    >img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.yellow{
  height: 100vh;
  background-color: yellow;
  width: 100vw;

}
.green{
  height: 100vh;
  background-color: green;
  width: 100vw;
  border: 1px solid red;
}


